<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Shadows+Into+Light" rel="stylesheet"> 
  <link href="../public/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          RAFT
        </h1>
        <h2 class="subtitle">
          Stop drowning in your travel planning anxiety
        </h2>
      </div>
    </div>
  </section>
  <a class="navbar-brand" href="/logout">Logout</a>

  <h2>Welcome <span class="member-name"></span></h2>
  <footer class="footer">
    <div class="container">
      <p><a href="#">API Friends List</a> | <a href="#"> GitHub Repo</a></p>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/members.js"></script>

</body>

</html>