
body{
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Audiowide', cursive;
    background-color: rgb(212, 211, 211);
}

.raft {
    margin-top: -8%;
}
.tree {
    margin-top: -2%;
}

.hero.is-primary .subtitle, .hero.is-primary .title {
    color: black;
    margin-left: 5%;
}